- Windows: Windows 10/11+
- Linux Redhat: Fedora WS 35 (glibc 2.34, libzip 1.6, Qt5); Fedora 38 (glibc 2.36, Qt6)
- Debian: Debian Bookworm (~Ubuntu 22+), Bullseye/standard (~20+), Buster/compatible (~18-19)

