bin/
public/
temp/
_local/
_testpages/
*/.well-known/
content/static/
content/software/*/manuals/*.png
content/software/*/manuals/*.jpg
*~
*.bk
*.swp
*.swo
todo.txt
*.sh
*.ps
*.zip
*.deb
*.rpm
*.msi
*.exe
*.gz
*.7z
