{# Syncoda.nl macros for Zola


2024-03-1 first release

#}


{# NAVIGATION RELATED #}

{# 
Get a section its pages, and output each within <li> tags.
Upon reaching page_list_limit, output a "More..." link to the section.
#}
{% macro list_section_pages(sectionobject, page_list_limit=-1) %}
	{%- set pagecount_limit = sectionobject.extra.page_list_limit | default(value=page_list_limit) -%}
	{%- if pagecount_limit != 0 -%}
		{%- set_global pagecounter = 0 -%}
		{%- for p in sectionobject.pages -%}{#- using section here !? -#}
			{%- if pagecounter != pagecount_limit -%}
				<li><a href="{{ p.permalink | safe }}">{{ p.title }}</a></li>
				{%- set_global pagecounter = pagecounter + 1 -%}
			{% else %}
				<li><a href="{{ sectionobject.permalink | safe }}">More...</a></li>
			{%- break -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{% endmacro list_pagelinks %}


{# 
Generates <h*> header content, with link and optional logo, for embedded in a header or list tag 
#}
{% macro list_section_title(sectionobject) %}
	{%- set logo = sectionobject.extra.logo | default(value="") -%}
	{%- if logo -%}<img class="index_section_logo" src="{{logo}}" />&nbsp;{% endif -%}<a href="{{ sectionobject.permalink | safe }}{%- if config.extra.uglyurls -%}index.html{%- endif %}">{{ sectionobject.title }}</a>
{% endmacro list_section_title %}


{# 
Recursive function for building a menu with subsections and their pages
Currently limited to depth=1, and uses <h*> headers.
Todo: build a contiguous unordered list 
#}
{% macro show_page_index(sectionobject, depth=0, maxdepth=1) -%}
{% if not sectionobject.extra.page_list_skipme %}
	{# Top level H3 headers #}
	{% if depth == 1 %}
		<h3>{{ self::list_section_title(sectionobject=sectionobject) }}</h3>
		{%- if sectionobject.description -%}
			<p>{{ sectionobject.description }}</p>
		{%- endif -%}
	{%- elif depth > 1 -%}
		<h4>{{ self::list_section_title(sectionobject=sectionobject) }}</h4>{# open li tag#}
	{% endif %}

	{#- Output available pages -#}
	{% if not sectionobject.extra.page_list_hide | default(value=false) and sectionobject.pages %}
		<ul>
		{{ self::list_section_pages(sectionobject=sectionobject) }}
		</ul>{# todo remove for nested li #}
	{% endif %}
		
	{% if depth <= maxdepth and sectionobject.subsections %}
		{% for s in sectionobject.subsections %}
			{# start recurse call on subsection {{s}}<br> #}
			{% set section_subsection_object = get_section(path=s, metadata_only=false) %}
			{{ self::show_page_index(sectionobject=section_subsection_object, depth = depth + 1) }}
		{% endfor %}
	{% else %}
		       {#</ul></li> todo, close level 2+ li tag, current <h4>#}
	{%- endif -%}
	{#</ul>#}
{%- endif -%}
{% endmacro list_subsection_pagelinks -%}



{# SECTION RELATED #}



{# 
Get a section its first ordered page path
- Assumes the original sorting suffices.
- Use `| trim_start_matches(pat="/")` to remove any leading slashes
-#}
{% macro get_section_first_page_path(path) -%}
	{%- set section = get_section(path=path, metadata_only=false) -%}
	{%- for page in section.pages -%}
		{{ page.path }}
		{%- if loop.index0 == 0 -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}
{% endmacro get_section_first_page_path %}


{#
Compare page paths, if unqueal a newer release is available.
Alternatively, compare using some `page.extra.version` variable.
Todo: CSS class referenceTodo: CSS class reference
#}
{% macro check_latest_version(section, currentpage) -%}
	{% set newest = self::get_section_first_page_path(path=section) %}
	{% if page.path != newest %}
		{%- set page = get_page(path=newest ~ "index.md" | trim_start_matches(pat="/") ) %}
		<p style="padding: 20px; border: solid 1px orange; background-color: yellow; color: black; text-align: center;">Newer release available: <a href="{{ page.permalink }}">{{ page.title }}</a></p>
	{% endif %}
{% endmacro get_section_first_page_path %}



{# DOWNLOAD LINK RELATED #}

{#
Output color-coded remarks, from an array of arrays (see example below).
Priority codes: 0=none/green; 1=low/yellow; 2=high/red

```
[extra]
remarks = [[1, "Windows EXE installer has been deprecated in favour of the MSI installer."],[0, "added Windows Qt5 release"]]
```
- Todo: use CSS classes
- Dictionary keys can't be referenced currently (v0.17), so use array offsets.
- The else condition could be simplified, if a default array argument (`default(array=[0,"No changes"])`) was supported (only literals currently). To fix this, preface the macro call by something like `{% set remarks = page.extra.remarks | default(value="") %}
#}
{% macro print_download_remarks(remarks, spacer="") -%}
	<p>
	{% if not remarks %}
		<span style="background-color: green">{{ spacer | safe }}</span> No requirements have changed<br>
	{% else %}
		{% for r in remarks %}
			<span style="margin-right: 5px; padding: 0px 10px; background-color:{% if r[0] == 0 %}green{% elif r[0] == 1 %}yellow{% else %}red{% endif %}">{{ spacer | safe }}</span> {{ r[1] }}<br>
		{% endfor %}
	{% endif %}
	</p>
{% endmacro print_download_remarks -%}


{#
Match filename to OS/platform.
Using extension initially, filename contained reference second.
When using subdirecties, create a directory2platform matching start
Ideally, use just the filename. 
#}
{%- macro filename2platform(path) -%}
    {% set platform="" %}
    {# get platform: replace this part by a capture group #}
    {# match extension #}
    {% if path is matching(".deb$") %}
        {% set platform = "debian" %}
    {% elif path is matching(".rpm$") %}
        {% set platform = "redhat" %}
    {% elif path is matching(".exe$|.zip$|.msi$") %}
        {% set platform = "windows" %}
    {# match filename #}
    {% elif path is matching(".tar.gz$") %}
        {% set platform = "source" %}
    {% elif path is matching("windows") %}
        {% set platform = "windows" %}
    {% elif path is matching("fedora") %}
        {% set platform = "redhat" %}
        {# nesting has issues #}
    {% else %}
        {% set platform = "other" %}
    {% endif -%}
{{platform}}
{%- endmacro %}


{#
Decorate the filelink, with optional SHA256 hash (sufficient)
#}
{%- macro filelink_decoration(asset, filename, gethashes=true) -%}
<p><a href="{{ asset }}">{{filename}}</a>
{%- if gethashes %} <span style="font-size: 60%;">SHA256 {{ get_hash(path=asset, sha_type=256, base64=false) }}</span>{%- endif -%}</p>
{%- endmacro %}


{# 
Generate a download menu by platform
#}
{% macro assets2downloads(page, gethashes=true, include_matches="", exclude_matches=".png$|.jp[e]?g$|.gif$|.txt$|.pdf$|.bmp$|.mp4$") -%}
{% set lastPlatform = "" %}

{% for asset in page.assets | sort %}
    {# presents a lowercase filename #}
    {% set iconpath = "" %}

    {# include OR exclude files. Include takes priority #}
    {% if include_matches and asset is not matching(include_matches) %}
        {% continue %}
    {% elif exclude_matches and asset is matching(exclude_matches) %}
        {% continue %}
    {% endif %}

    {# get the filename lowercase. pat depends on platform #}
    {% set filename = asset | split(pat="/") | last | lower %}

    {# identify platform. When using subdirectories, splitting on the first part suffices instead #}
    {% set platform = self::filename2platform(path=filename) | trim %}

    {# output platform label #}
    {% if platform != lastPlatform %}
        {% set_global lastPlatform = platform %}

        {# overrides #}
        {%- if platform == "debian" -%}
<h3 id="downloads_debian"><img src="/images/debian.png"> Linux Debian (Ubuntu, Mint, etc)</h3>
        {%- elif platform == "redhat" -%}
<h3 id="downloads_redhat"><img src="/images/redhat.png"> Linux RedHat (Fedora, SUSE, etc)</h3>
        {%- elif platform == "macos" -%}
<h3 id="downloads_macos"><img src="/images/macos.png"> MacOS</h3>
        {%- elif platform == "windows" -%}
<h3 id="downloads_windows"><img src="/images/windows.png"> Windows</h3>
<p>For older Windows releases the Qt5 .zip version may work instead.</p>
        {# default #}
        {%- else -%}
<h3 id="downloads_{{platform}}"><img src="/images/{{platform}}.png">{{platform | capitalize}}</h3>
        {%- endif -%}
    {%- endif -%}

{{- self::filelink_decoration(asset=asset, filename=filename, gethashes=true) -}}

{%- endfor %}
{% endmacro assets2downloads -%}


{# 
(Deprecated) KISS downloadlink generator, that adds description and hash 
#}
{% macro getlink(linktext, filepath) %}
- [ {{ linktext }} ]({{ filepath }}) \
 <small>SHA256: {{ get_hash(path=asset, sha_type=256, base64=false) }}</small>
{% endmacro getlink %}
