{#
This Page Shows a Section and its underlying Subsections + their subsections
An example is listing available software projects.
This Template can also be used as the rendering template for Sections, eg: example.com/blog/  example.com/software/

Consult macros/syncoda_macros.html for details
#}

{% import "macros/syncoda_macros.html" as syncoda_macros %}

{% extends "pages.html" %}

{%- block content %}
<div>
	{% if section.title -%}
	<h2>{{ section.title }}</h2>
	{%- endif %}

	{{ section.content | safe }}

 	{{- syncoda_macros::create_index(section_object=section, depth=0, maxdepth=5) -}}

</div>
{%- endblock content %}
