{#
This Page Shows a Section and its underlying Subsections + their subsections
An example is listing available software projects.
This Template can also be used as the rendering template for Sections, eg: example.com/blog/  example.com/software/

Notes:
- Does not recurse yet -> convert parts to macro.
- Does not work as a shortcode, given it requires get_section()

Variables:
- section.extra.limit_listed_subpages (defaults to -1): if not -1, this limits the number of pages listed for each section, before showing "More...". This variables is to set at each section's _index.md.
- subsection.extra.logo (defaults to ""): if set, includes a graphics file, set at each section's _index.md
#}

{% import "macros/syncoda_macros.html" as syncoda_macros %}

{% extends "pages.html" %}

{%- block content %}
<div>
	{% if section.title -%}
	<h2>{{ section.title }}</h2>
	{%- endif %}

	{{ section.content | safe }}

 	{{ syncoda_macros::show_page_index(sectionobject=section) }}
</div>
{%- endblock content %}
